<h1>Blog!</h1>

<!-- Loop over each post in posts array -->
{{#each posts as |post| }}

<div>
<a href="/post/{{post.id}}">
<h2>{{post.name}}</h2>
<p>Posted on: {{format_date post.date_created}}</p>
</a>
</div>

{{/each}}